In [1]:
animals = ["lion", "tiger", "crocodile", "vulture", "hippo"]
print (animals)

['lion', 'tiger', 'crocodile', 'vulture', 'hippo']

In [2]:
for creature in animals:
    print(creature)

lion
tiger
crocodile
vulture
hippo

In [3]:
creature

'hippo'

In [4]:
if creature == "hippo":
    print("got a hippo!")
else:
    print("nope")

# if you need to test for equality, use two equal signs, not one

# this is your basic loop and conditional statement

got a hippo!

In [5]:
abs(3)

3

In [6]:
abs(-3)
#these are absolute value functions

3

In [7]:
# but let's pretend that doesn't exist so let's make our own

def absvalue(n):
    if n >= 0:
        return n
    else:
        return -n

In [8]:
absvalue(17)

17

In [9]:
absvalue(-17)

17

# Challenge

Write a function 'format_date' that takes three numeric argumetns (month, day, year) and returns the date as a string formatted like "2/23/2023"

Hint 1: to convert a number to a string, use the 'str()' function

Hint 2: to concatenate two strings, use +

In [10]:
def format_date(month, day, year):
    month_str = str(month)
    day_str = str(day)
    year_str = str(year)
    return (month_str + "/" + day_str + "/" + year_str)

In [11]:
format_date(2,23,2023)

'2/23/2023'

In [12]:
# alternative method
def format_date(month, day, year):
    return str(month) + "/" + str(day) + "/" + str(year)

In [13]:
def f(a, b, c):
    return str(a) + "/" + str(b) + "/" + str(c)

# this is harder to read as you don't know what all of the things represent
# label things to add to the readability of what you are trying to do
# see below

def format_date(a, b, c):
    return str(a) + "/" + str(b) + "/" + str(c)

# Exercises in writing loops for automation

In [19]:
pwd

'/Users/tlevier/Desktop'

In [20]:
cd ..

/Users/tlevier

In [21]:
cd /Users/tlevier/Desktop

/Users/tlevier/Desktop

In [22]:
import pandas as pd
surveys = pd.read_csv("data/surveys.csv")

In [23]:
surveys

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [24]:
surveys2002 = surveys[surveys.year == 2002]

In [25]:
surveys2002.to_csv("data/yearly_files/surveys2002.csv")

In [26]:
surveys.year.unique()
# this is how we see all the different years

array([1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002])

In [27]:
len(surveys.year.unique())
# this is how we know the total amount of different years

26

In [28]:
for year in surveys.year.unique():
    print(year)

1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002

In [29]:
for year in surveys.year.unique():
    filename = "data/yearly_files/survey" + str(year) + ".csv"
    print(filename)

data/yearly_files/survey1977.csv
data/yearly_files/survey1978.csv
data/yearly_files/survey1979.csv
data/yearly_files/survey1980.csv
data/yearly_files/survey1981.csv
data/yearly_files/survey1982.csv
data/yearly_files/survey1983.csv
data/yearly_files/survey1984.csv
data/yearly_files/survey1985.csv
data/yearly_files/survey1986.csv
data/yearly_files/survey1987.csv
data/yearly_files/survey1988.csv
data/yearly_files/survey1989.csv
data/yearly_files/survey1990.csv
data/yearly_files/survey1991.csv
data/yearly_files/survey1992.csv
data/yearly_files/survey1993.csv
data/yearly_files/survey1994.csv
data/yearly_files/survey1995.csv
data/yearly_files/survey1996.csv
data/yearly_files/survey1997.csv
data/yearly_files/survey1998.csv
data/yearly_files/survey1999.csv
data/yearly_files/survey2000.csv
data/yearly_files/survey2001.csv
data/yearly_files/survey2002.csv

In [30]:
# now we want to extract out just the rows for that specific year

for year in surveys.year.unique():
    filename = "data/yearly_files/survey" + str(year) + ".csv"
    surveys_subset = surveys[surveys.year == year]
    surveys_subset.to_csv(filename)

In [31]:
for year in surveys.year.unique():
    filename = "data/yearly_files/survey" + str(year) + ".csv"
    surveys[surveys.year == year].to_csv(filename)

In [32]:
for each_year in surveys.year.unique():
    filename = "data/yearly_files/survey" + str(each_year) + ".csv"
    surveys[surveys.year == each_year].to_csv(filename)
    
# If you run this multiple times it rewrites the code

# Practice

In [36]:
print(x)

# this can only run non-linearly, so make sure your notebook runs top to bottom
# go to clear "restart kernel and run all cells" to make sure something is easily reproducable, since this will have an error
# if we actually run it first

5

In [37]:
x = 5

In [38]:
x

5

In [ ]:
# when you are running soe code and you say x = 5, then the python interpreter behind the scenes will know it is x
# you can edit these cells in any order
# suppose we go up to above x = 5